<h2>Calendar Grid Wrapper</h2>

<!--<h3>Single Row Data (Non-nested data)</h3>

<h4>No templates (use with primitive value)</h4>
<cr-calendar-grid [calendarGridData]="calendarGridData"></cr-calendar-grid>
<br /><br />

<h4>Single template for all rows</h4>
<cr-calendar-grid [calendarGridData]="calendarGridData">
  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label">
      {{ l }}
    </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>
</cr-calendar-grid>

<br /><br />

<h4>Template for each row</h4>
<cr-calendar-grid [calendarGridData]="calendarGridData">
  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr1 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr1 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>

  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr2 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr2 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>

  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr3 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr3 <span *ngIf="c?.value">TRUE</span>
    </ng-template>
  </cr-calendar-grid-row>
</cr-calendar-grid>

<br /><br />-->

<h3>Single Nested Data</h3>

<!--<h4>No templates (use with primitive value)</h4>
<cr-calendar-grid
  [calendarGridData]="calendarGridNestedData"
></cr-calendar-grid>
<br /><br />-->

<h4>1 row, 1 label, 1 cell</h4>
<cr-calendar-grid id="g-1r-1l-1c" [calendarGridData]="calendarGridNestedData">
  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label" [class]="'col-2 pr-2 blue-bg'">
      <span class="stl">{{ l }}</span>
    </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      <cr-calendar-grid-cell [class]="cellClass(c)">
        {{ c?.value?.toString() | uppercase }}
      </cr-calendar-grid-cell>
    </ng-template>
  </cr-calendar-grid-row>
</cr-calendar-grid>

<br /><br />

<!--<h4>2 rows, 1 label, 1 cell</h4>
<cr-calendar-grid id="g-2r-1l-1c" [calendarGridData]="calendarGridNestedData">
  <cr-calendar-grid-row id="g2r1l1l-1">
    <ng-template crCalendarGridLabel let-l="label"> lr1 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr1 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>

  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr2 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr2 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>
</cr-calendar-grid>-->

<br /><br />

<!--<h3>Double Nested Data</h3>

<h4>No templates (use with primitive value)</h4>
<cr-calendar-grid
  [calendarGridData]="calendarGridDoubleNestedData"
></cr-calendar-grid>
<br /><br />

<h4>Single template for all rows</h4>
<cr-calendar-grid [calendarGridData]="calendarGridDoubleNestedData">
  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label">
      {{ l }}
    </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>
</cr-calendar-grid>

<br /><br />

<h4>Template for each row</h4>
<cr-calendar-grid [calendarGridData]="calendarGridDoubleNestedData">
  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr1 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr1 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>

  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr2 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr2 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>

  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr3 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr3 <span *ngIf="c?.value">TRUE</span>
    </ng-template>
  </cr-calendar-grid-row>
</cr-calendar-grid>

<br /><br />

<h3>Double Nested Data: Multi label/cells per row</h3>

<h4>Two labels per row</h4>
<cr-calendar-grid [calendarGridData]="calendarGridDoubleNestedData">
  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label">
      lr1 a <span>First: {{ l }}</span>
    </ng-template>

    <ng-template crCalendarGridLabel let-l="label">
      lr1 b <span>Second: {{ l }}</span>
    </ng-template>

    <ng-template crCalendarGridCell let-c="cell">
      cr1 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>
</cr-calendar-grid>

<br /><br />

<h4>Template for each row</h4>
<cr-calendar-grid [calendarGridData]="calendarGridDoubleNestedData">
  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr1 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr1 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>

  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr2 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr2 {{ c?.value }}
    </ng-template>
  </cr-calendar-grid-row>

  <cr-calendar-grid-row>
    <ng-template crCalendarGridLabel let-l="label"> lr3 {{ l }} </ng-template>
    <ng-template crCalendarGridCell let-c="cell">
      cr3 <span *ngIf="c?.value">TRUE</span>
    </ng-template>
  </cr-calendar-grid-row>
</cr-calendar-grid>-->
