// ----------------------------- Grid styles -----------------------------

// Partially works
// #sr-sl-sc {
//   // FAIL: Not applied
//   // background-color: #d2d2d2;
//
//   // FAIL: Not visible (except for lower and upper left side).
//   // border: 3px solid red;
//
//   // Works
//   color: #333;
//   font-style: italic;
// }

// Works
// #sr-sl-sc .calendar-grid-row {
//   background-color: #d2d2d2;
// }

// Works
// #sr-sl-sc cr-calendar-grid-row {
//   background-color: #d2d2d2;
// }

// Works
// #sr-sl-sc cr-calendar-grid-label {
//   background-color: #dddddd;
// }

// 1 row, 1 label, 1 cell
#g-1r-1l-1c {
  cr-calendar-grid-label {
    // WARNING: This will override [class]="'col-2 pr-2 blue-bg'" on <ng-template crCalendarGridLabel
    // background-color: #dddddd;
  }
  cr-calendar-grid-cell {
    color: #3a3a3a;
    font-weight: 700;
  }
}

// 2 rows, 1 label, 1 cell

// FAIL
// #g-2r-1l-1c {
//
//   // FAIL: Applies to every row
//   cr-calendar-grid-label:nth-of-type(1) {
//     background-color: red; // #dddddd;
//   }
//   cr-calendar-grid-cell {
//     color: #3a3a3a;
//     font-weight: 700;
//   }
// }

// FAIL: Weird behavior ~ as you expand a row the css adjust to maitain off styling.
// #g-2r-1l-1c {
//   cr-calendar-grid-row:nth-child(odd) {
//     background-color: #dddddd;
//   }
// }

// ----------------------------- Row styles -----------------------------

// Doesn't work. Can't apply id to directive?
// #str {
//   background-color: #d2d2d2;
//}

// Doesn't work. Can't apply id to directive?
// .str {
//   background-color: #d2d2d2;
// }

// Applies to all rows in the html template
// .calendar-grid-row {
//   background-color: #d2d2d2;
// }

// Applies to the first row of every grid in the html template
// .calendar-grid-row:nth-of-type(1) {
//   background-color: #d2d2d2;
// }

// Applies to the label of the second row of every grid in the html template.
// .calendar-grid-row:nth-of-type(2) .calendar-grid-label {
//   background-color: #d2d2d2;
// }

// ----------------------------- Cell styles -----------------------------

// Doesn't fill the entire container, looks like crap.
.stl {
  background-color: #d2d2d2;
}

// Applies to all elements
// cr-calendar-grid-label {
//   background-color: #d2d2d2;
//}

// cr-calendar-grid-label:nth-of-type(1) {
//   background-color: #d2d2d2;
// }

// .calendar-grid-label:nth-of-type(2) {
//   background-color: #d2d2d2;
// }

// cr-calendar-grid-label.calendar-grid-label {
//   background-color: #d2d2d2;
// }

.blue-bg {
  background-color: blue;
}
